In [13]:
import os
import random
import pandas as pd

In [15]:
negative_folder = r"C:\Users\mohni\Downloads\New Dataset\Dataset\Negative" # Negative path on local
positive_folder = r"C:\Users\mohni\Downloads\New Dataset\Dataset\Positive"  # Positive Path on local

In [20]:
negative_files = os.listdir(negative_folder)  # List all the files in each folder
positive_files = os.listdir(positive_folder)  
print(len(negative_files))
print(len(positive_files))

21461
21466

In [16]:
reviews = []
labels = []
folder_paths = [negative_folder, positive_folder]
for folder_path, label in zip(folder_paths, [0, 1]):
    files = os.listdir(folder_path)
    for file in files:
        with open(os.path.join(folder_path, file), 'r', encoding='utf-8') as f:   # Read each of the text files
            review = f.read()
            reviews.append(review)
            labels.append(label)

In [17]:
df = pd.DataFrame({'Review': reviews, 'Label': labels})  # Create Dataframe which have columns Review and Label
df

                                                  Review  Label
0      Once again Mr. Costner has dragged out a movie...      0
1      Story of a man who has unnatural feelings for ...      0
2      Airport '77 starts as a brand new luxury 747 p...      0
3      First of all I hate those moronic rappers, who...      0
4      This film lacked something I couldn't put my f...      0
...                                                  ...    ...
42922  I am amazed at how this movie(and most others ...      1
42923  From the start of "The Edge Of Love", the view...      1
42924  This movie, with all its complexity and subtle...      1
42925  A Christmas Together actually came before my t...      1
42926  I've seen this story before but my kids haven'...      1

[42927 rows x 2 columns]

In [18]:
new_df = df.sample(frac=1).reset_index(drop=True)  # shuffle the dataset to randomize 
new_df

                                                  Review  Label
0      I don't think that many films (especially come...      1
1      BLACK WATER has to be one of the best Australi...      1
2      The only thing good about this movie is the ar...      0
3      If you live in the suburbs, are relatively wel...      0
4      Another "must have" film. Henry Brandon is a f...      1
...                                                  ...    ...
42922  I am not a golf fan by any means. On May 26 ab...      1
42923  Claire Denis's Chocolat is a beautiful but fru...      1
42924  Chilly, alienating adaptation of Rebecca West'...      0
42925  I saw this documentary film at the 2005 Slamda...      1
42926  This is a road movie. At least the movie is in...      0

[42927 rows x 2 columns]

In [19]:
new_df.to_csv('movie_reviews_dataset.csv', index=False)      # Create CSV file

In [21]:
len(positive_files)+len(negative_files)

42927